.nav-bar{
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    border-radius: 12px 12px 12px 12px;
    border: 1px solid #ccc;
    margin: top 0;
    display: flex;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
     margin: top 0;
    display: flex;
    justify-content: center;
}
.scams{
    background: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
    width:50%;
}
.container{
    width: 80%;
    margin: auto;
    padding: 20px;
}

textarea{
    width: 95%;
    height: 30px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
.card{
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    color:white;
     background-color:#cc1517;
    }
#result{
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

#history{
    margin-top: 20px;
    text-align: left;
    background: white;
    color: black;
   
}

#history li{
    margin-bottom: 10px;
}
.clear-btn{
    background-color: #cc1517;
    color: white;
    text-align: center;
    margin-top:45px;
    padding: 10px 15px;
}
.download-btn{
    background-color: #cc1517;
    color: white;
    margin-top:45px;
    margin-left:130px;
    padding: 10px 15px;
}
.dark-mode .container{
    background-color: #1e1e1e;
    color: white;
}


#riskBarContainer{
    width: 100%;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 10px;
}

#riskBar{
    width: 0%;
    height: 100%;
    background-color: #cc1517;
    border-radius: 10px;
}
.cards-container{
    display: flex;
    gap: 0px;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
}

.scams,
.report{
    flex: 1;
    padding: 20px;
    margin-top: 20px;
     box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 50%;
    margin-left:0px;
    }

.scams{
    max-width: 500px;
}

.report{
    max-width: 500px;
    
}

.scams h2,
.report h3{
    text-align: center;
}
.report{
    text-align: center;
}

.row{
    display:flex;
    text-align:center;
    gap:150px;
    margin-top: 10px;
    padding:10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}
.row h4,.row h5{
    margin:0;
}
.card1,
.card2{
    flex: 1;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    width: 50%;
    margin-left:0px;
    
}
.card1{
    max-width: 500px;
}

.card2{
    max-width: 500px;
    
}
.card1 h2,p
.card2 p,ul{
    text-align: center;
}
.card2{
    text-align: center;
}
.learn-scams{
    text-align: center;
    margin-top: 50px;
}

.title{
    display: inline-block;
    color:rgb(86, 85, 85);
    padding: 10px 20px;
    border-radius: 5px;

}

.row1,
.row2{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.row1{
    margin-top: 30px;
}

.row2{
    margin-top: 20px;
}

.card{
    width: 110px;
    height: 110px;
   background-color: white;
   border-radius: 2px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin-top: 0.2px;

}

.card:hover{
    transform: translateY(-5px);
}

.card i{
    font-size: 25px;
    color:#cc1517;
    margin-bottom: 15px;
}

.card h3{
    color:#cc1517;
    margin: 0;
     font-size: 15px;
}